/Projekt/InformatikProjekt/nbproject/private/
/Projekt/InformatikProjekt/build/
/Projekt/InformatikProjekt/dist/
Projekt/InformatikProjekt/src/StartPage/StartInfProj.java
Projekt/InformatikProjekt/src/StartPage/StartInfProj.java
